@page "/"
@namespace SSDCPortal.Server.Pages
@using SSDCPortal.Infrastructure.Server
@using SSDCPortal.Shared.Models
@using SSDCPortal.Shared.Providers
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Localization
@using System.Globalization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, SSDCPortal.Shared
@inject IWebHostEnvironment env
@inject ITenantSettings<MainConfiguration> mainConfiguration

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>SSDC Business Management Portal</title>
    <meta name="author" content="Enkodellc / Keith Fimreite, Giovanni Quarella">
    <meta name="description" content="Blazor Boilerplate & Starter Kit - A real world Example ">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
@*
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    <link href="_content/MudBlazor.ThemeManager/MudBlazorThemeManager.css" rel="stylesheet"/>
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"/>
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet"/>
*@
    <base href="~/" />
    <link href="manifest.json" rel="manifest" />
    @*<link href="_content/SSDCPortal.Theme.Material/SSDCPortal.Theme.Material.bundle.scp.css" rel="stylesheet">*@
</head>
<body>
@{
    if (HttpContext.Request.Cookies[CookieRequestCultureProvider.DefaultCookieName] == null)
        HttpContext.Response.Cookies.Append(
            CookieRequestCultureProvider.DefaultCookieName,
            CookieRequestCultureProvider.MakeCookieValue(
                new RequestCulture(
                    CultureInfo.CurrentCulture,
                    CultureInfo.CurrentUICulture)),
            new Microsoft.AspNetCore.Http.CookieOptions() { Expires = DateTimeOffset.Now.AddDays(30) });
}

@if (mainConfiguration.Value.Runtime == Shared.Dto.Db.BlazorRuntime.Server)
{
    @(Html.AntiForgeryToken())
    <app>
        <component type="ModuleProvider.RootComponentMapping.ComponentType" render-mode="Server" />
    </app>
}
else
{
    <app wasm></app>
}

    <div id="blazor-error-ui">
        <i class="material-icons">error</i>
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    @if (mainConfiguration.Value.Runtime == Shared.Dto.Db.BlazorRuntime.Server)
    {
        <script src="_framework/blazor.server.js"></script> 
        <script src="_content/MudBlazor/MudBlazor.min.js?v=5.1.4"></script>
                                                                  
    }
    else { <script src="_framework/blazor.webassembly.js"></script> }

    

   
    <script src="js/interop.js"></script>
    <!-- https://docs.microsoft.com/en-us/aspnet/core/blazor/progressive-web-app -->
    <script>navigator.serviceWorker.register('service-worker.js');</script>

    @*<script type="text/javascript" language="javascript">
            window.addEventListener("load", (event) => {
                var mapCon = document.getElementById("map_container");
                var frm = mapCon.getElementsByTagName("iframe")[0];
                if (frm != undefined)
                    frm.style.height = "272px";
            });
        </script>*@


</body>
</html>