@page "/externalauth/confirm"

@inject AppState appState
@inject NavigationManager navigationManager
@inject HttpClient Http
@inject AuthenticationStateProvider authStateProvider
@inject IStringLocalizer<Global> L
@inject IViewNotifier viewNotifier
<MudCard>
    <div class="logo" style="padding: 50px;">
        <img src="_content/SSDCPortal.Theme.Material/images/logo.svg" style="width:100px;" /><br />SSDCPortal
        <br />
        <h4>External authentication success - check your email inbox for confirmation email and login again</h4>
        <MudButton Link="/" Raised="true">Home</MudButton>
    </div>
</MudCard>

@code {



}
