@implements IDynamicComponent
@inject AppState appState
©&nbsp;@DateTime.Now.Year&nbsp;<a href="//slicksysdev.com">@appState.AppName</a>&nbsp;Version 2.0.0 - Developed by&nbsp;<a href="https://christopherlane.net" target="_blank">C. Lane</a>&nbsp;
and&nbsp;<a href="https://github.com/slicksys" target="_blank">Github</a>.

@code {
    public int Order { get => 1; }
    public string IntoComponent { get => "Footer"; }
}
